AZURE_STORAGE_ACCOUNT_NAME=stworldcupaifayssaldev
AZURE_STORAGE_CONTAINER_BRONZE=bronze
AZURE_STORAGE_CONTAINER_SILVER=silver
STATSBOMB_OPEN_DATA_BASE_URL=https://raw.githubusercontent.com/statsbomb/open-data/master/data
