project_name            = "worldcupai"
environment             = "dev"
location                = "canadacentral"
resource_group_name     = "rg-worldcup-ai-dev"
storage_account_name    = "stworldcupaifayssaldev"
container_registry_name = "acrworldcupaidev"
key_vault_name          = "kv-worldcup-ai-dev"
container_app_name      = "ca-worldcup-ai-api-dev"
container_image         = "acrworldcupaidev.azurecr.io/world-cup-ai-platform-api:latest"
